<% @page_title = "OTUs" %>
<div class="row-fluid">
  <div class="row-fluid"><p class="lead">OTUs</p></div>
  <div class="row-fluid">
    <table class="table table-bordered table-condensed table-striped" summary="OTU List">
    <tr class="header">
      <th>OTU Name</th>
      <th>Taxa</th>
      <th>Source Dataset</th>
      <th>Actions</th>
    </tr>
    <% @otus.each do |otu| %>
    <tr>
      <td><%= otu.name %></td>
      <td><% otu.taxa.each do |taxon| %>
            <%= link_to(taxon.name, taxon_path(taxon)) %>
          <% end %>
      </td>
      <td><% if otu.csv_dataset %><%= link_to(otu.dataset_name, csv_dataset_path(otu.csv_dataset)) %><% end %></td>
      <td>
        <div class="btn-group">
          <%= link_to("Show", otu_path(otu), :class => 'btn btn-small' ) %>
          <%= link_to("Edit", edit_otu_path(otu), :class => 'btn  btn-small') %>
          <%= link_to("Destroy", otu_path(otu), :class => 'btn btn-small btn-danger', :method => :delete) %>
        </div>
      </td>
    </tr>
    <% end %>
    </table>
	</div>
	<div class="row-fluid">
    <div class="pagination">
      <ul>
        <% 
          pages = (@total / @count) + 1
          pages.times.each do |p|
        %>
          <li><%= link_to((p+1).to_s, otus_path({:start => "#{p * @count}" , :count => @count})) %></li>
        <% end %>
      </ul>
    </div>
	</div>
</div>