<% @page_title = @otu.name %>
<div class="row-fluid">
  <div class="row"><p class="lead">OTU</p></div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @otu.name %></td>
      </tr>
      <tr>
        <th>Taxon</th>
        <td>
          <% if @otu.taxon%>
              <%= link_to(@otu.taxon.name, taxon_path(@otu.taxon)) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Categorical Trait Codings</th>
        <td>
          <ol>
            <% @otu.categorical_trait_values.each do |trait_value| %>
                <li><%= link_to("#{trait_value.categorical_trait.name}: #{trait_value.categorical_trait_category.name}", categorical_trait_value_path(trait_value)) %></li>
            <% end %>
          </ol>
        </td>
      </tr>
      <tr>
        <th>Continuous Trait Codings</th>
        <td>
          <ol>
            <% @otu.continuous_trait_values.each do |trait_value| %>
                <li><%= link_to("#{trait_value.continuous_trait.name}: #{trait_value.value}", continuous_trait_value_path(trait_value)) %></li>
            <% end %>
          </ol>
        </td>
      </tr>
      <tr>
        <th>Notes</th>
        <td><%= @otu.notes %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @otu.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @otu.updated_at %></td>
      </tr>
    </table>
  </div>
</div>
</div>
