<% @page_title = 'Read Headers' %>
<% if @import_job.failed? %>
<div class="row-fluid">
  <div class="alert alert-error">
    <p>Failed to read CSV headers in <%= @import_job.file_name %>:</p>
    <ul>
    <% @import_job.validation_issues.each do |issue| %>
    <li><%= issue.issue_description %>: <%=  issue.suggested_solution %></li>
    <% end %>
   </ul>
    <%= link_to("Discard Dataset", {:action => 'delete', :id => @import_job.csv_dataset.id}, :class => 'btn btn-danger', :method => :delete) %>
  </div>
</div>
<% elsif @import_job.read_headers? %>
<div class="row-fluid">
    <p class="alert alert-success">Read <%= pluralize(@import_job.headers.count, 'header') %> in <%= @import_job.file_name %></p>
</div>
<div class="row-fluid">
  <%= link_to("Next", next_wizard_path, :class => 'btn') %>
</div>
<% end %>
