<div class="row-fluid">
  <div class="offset1 span10">
    <div class="row-fluid">
      <h2>Search</h2>
      <p class="lead">Number of records available: <span id="available"><%= 5 -%></span> out of <span id="total"><%= 423 %></span></p>
    </div>
    <div class="row-fluid">
      <div id="searchform" class="well">
        <%= form_tag '#do_search', { :class => 'form' } do -%>
            <!-- taxon selection, should be a partial? -->
            <div id="taxa">
              <h3>Taxonomy</h3>
              <%
                 ids = [:htg, :order, :family, :genus]
              %>
              <div class="row-fluid">
                <div class="span11">
                  <div class="row-fluid">
                    <label class="span3">Higher Group</label>
                    <label class="span3">Order</label>
                    <label class="span3">Family</label>
                    <label class="span3">Genus</label>
                  </div>
                </div>
              </div>
              <div class="row-fluid taxon-filter-row">
                <div class="span11">
                  <div class="row-fluid">
                    <% ids.each_with_index do |id,i| %>
                        <%= select_tag(id, options_from_collection_for_select(@taxa[id], 'id', 'name'), :class => ['span3',id]) %>
                    <% end %>
                  </div>
                </div>
                <div class="span1">
                  <a href="#" class="btn add_taxon"><i class="icon-plus-sign"></i></a>
                </div>
              </div>
            </div>
            <div id="traits">
              <h3>Traits</h3>
              <div class="row-fluid trait-filter-row">
                <div class="span11">
                  <div class="row-fluid">
                    <%= select_tag(:trait_group, options_from_collection_for_select(@trait_groups, 'id', 'name'), :class => 'span4 trait_group') %>
                    <%= select_tag(:trait_name, options_from_collection_for_select(@trait_names, 'id', 'name'), :class => 'span4 trait_name') %>
                    <%= select_tag(:trait_values, options_from_collection_for_select(@trait_values, 'id','name'), :class => 'span4 trait_values') %>
                  </div>
                </div>
                <div class="span1">
                  <a href="#" class="btn add_trait"><i class="icon-plus-sign"></i></a>
                </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary pull-right"><i class="icon-search icon-white"></i>Search</button>
              </div>
        <% end %>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <!-- some test buttons for javascripting -->
      <span>Change some values:</span>
      <div class="btn-group">
        <a class="btn btn-small" id="down"><i class="icon-arrow-down"></i></a>
        <a class="btn btn-small" id="up"><i class="icon-arrow-up"></i></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // add button handlers
        addButtonHandlers();
        addSelectionChangeListeners();
    });
</script>
