<div class="row-fluid">
  <div class="offset1 span10">
    <div class="row-fluid">
      <h2>Search</h2>
      <!--<p class="lead">Number of records available: <span id="available"><%= 5  -%></span> out of <span id="total"><%= 423 %></span></p>-->
    </div>
    <div class="row-fluid">
      <div id="searchform" class="well">
        <%= form_tag '/search/results', { :class => 'form' } do -%>
            <div id="taxa">
              <div class="row-fluid">
                <table class="span12 table table-condensed table-borderless taxa-table">
                  <caption><span class="lead">1. Choose Taxonomy</span></caption>
                  <thead>
                    <tr>
                      <% @iczn_groups.each do |group| %>
                          <th><%= group.name %></th>
                      <% end %>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="taxon-filter-row">
                      <% @iczn_groups.each_with_index do |group, i| %>
                        <td>
                          <%# 'All' is not valid for the first taxon %>
                          <% prompt = '-- All --' if i > 0 %>
                        <%= select_tag("#{group.name}[0]",
                                       options_from_collection_for_select(group.taxa.sorted, 'id', 'name'),
                                       :prompt => prompt,
                                       'data-groupid' => group.id,
                                       'data-groupname' => group.name,
                                       'data-grouplevel' => group.level,
                                       :class => 'input-small'
                            ) %>
                        </td>
                      <% end %>
                      <td class="add-remove-taxon">
                        <a href="#" class="btn add_taxon taxon-cell "><i class="icon-plus-sign"></i></a>
                        <a href="#" class="btn remove_taxon taxon-cell "><i class="icon-minus-sign"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="traits">
              <div class="row-fluid">
                <table class="span12 table traits-table table-borderless">
                  <caption>
                    <span class="lead">2. Choose Traits</span>
                    <%= link_to('Show Trait List', {:action => 'show_trait_list'}, :target => '_blank') %>
                  </caption>
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Value</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="trait-filter-row">
                      <td>
                        <span class="operator_placeholder"></span>
                      </td>
                      <!-- This needs to be rebuilt from trait sets -->
                      <td>
                        <%= select_tag(:"#{:trait_types}[0]", options_for_select(@trait_types), :prompt => '-- Select --', :class => 'trait_type input-medium') %>
                      </td>
                      <td>
                        <%= select_tag(:"#{:categorical_trait_name}[0]", nil, :prompt => '-- Select --', :class => 'categorical_trait_name input-medium') %>
                        <%= select_tag(:"#{:continuous_trait_name}[0]", nil, :prompt => '-- Select --', :class => 'continuous_trait_name input-medium') %>
                      </td>
                      <td>
                        <%= select_tag("#{:categorical_trait_values}[0]", nil, :prompt => '-- All Values --', :class => 'categorical_trait_values input-medium') %>
                        <%= select_tag("#{:continuous_trait_value_predicates}[0]", nil, :prompt => '-- All Values --', :class => 'continuous_trait_value_predicates input-medium') %>
                      </td>
                      <td>
                        <%= number_field_tag("#{:continuous_trait_entries}[0]", nil, :class => 'continuous_trait_entries input-medium') %>
                      </td>
                      <td>
                        <a href="#" class="btn add_trait"><i class="icon-plus-sign"></i></a>
                        <a href="#" class="btn remove_trait"><i class="icon-minus-sign"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <div id="options">
            <div class="row-fluid options-row">
              <label class="checkbox inline">
                <input type="checkbox" id="select_all_traits" name="select_all_traits">Select all traits
              </label>
            </div>
            <div class="row-fluid options-row">
              <label class="checkbox inline">
                <input type="checkbox" id="only_rows_with_data" name="only_rows_with_data">Only include rows with data for chosen traits
              </label>
            </div>
            <div class="row-fluid options-row">
              <label class="checkbox inline">
                <input type="checkbox" id="include_references" name="include_references" checked>Include references
              </label>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right">Search <i class="icon-search icon-white"></i></button>
            <button type="reset" id="reset-search" class="btn btn-link pull-right">Reset</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var icznGroups = <%= raw @iczn_groups.to_json %>;
    $(document).ready(function() {
        // add button handlers
        addButtonHandlers();
        addSelectionChangeListeners();
        hideContinuousFields();
    });
</script>
