<% @page_title = 'Check Rows' %>
<%
   valid_record_count = @import_job.csv_row_count - @import_job.problem_rows.count
   problem_record_count = @import_job.problem_rows.count
   total_record_count = @import_job.csv_row_count
%>
<% if @import_job.parse_warnings?
   button_message = "Import #{valid_record_count} of #{pluralize(total_record_count, 'valid record')}"
   download_message = "Download #{pluralize(problem_record_count, 'problematic record')}"
%>
  <div class="row-fluid">
    <p class="alert alert-warning">
      <%= "Found #{problem_record_count} of #{pluralize(total_record_count, 'record')}" %> with issues.  You can download the problematic <%= "#{pluralize(problem_record_count, 'record')}" %> and import the remaining <%= "#{pluralize(valid_record_count, 'record')}" %>.
    </p>
  </div>
  <div class="row-fluid">
    <%= render(:partial => "import_jobs/issues", :locals => { :issues => @import_job.parse_issues}) %>
  </div>
<% else
     button_message = "Import #{pluralize(@import_job.csv_row_count, 'record')}"
%>
  <div class="row-fluid">
    <p class="alert alert-success">No issues were found in the dataset.</p>
  </div>
<% end %>
<div class="row-fluid">
  <%= link_to_if(@import_job.parse_warnings?, download_message, {:action => 'download_problematic_rows', :id => @import_job.csv_dataset.id}, :class => 'btn btn-warning') %>
  <%= link_to(button_message, {:action => 'import_rows', :id => @import_job.csv_dataset.id}, :class => 'btn btn-primary') %>

  <%= render(:partial => 'upload/footer_buttons', :locals => {:d => @import_job.csv_dataset}) %>
</div>

