<% @page_title = 'Upload Data' %>
<div class="row-fluid">
  <div class="row-fluid alert">
    <p>Uploaded CSV files must conform to an <%= link_to_if(current_user.admin?, 'Import Config', csv_import_configs_path) %>.  For information on configs or to download a template CSV file, click <%= link_to('here', {:controller => 'csv_template'}) %>.</p>
  </div>

  <div class="row-fluid">
    <p class="lead">Upload Data:</p>
  </div>
  <div class="row-fluid">
    <div class="well">
      <% if @project.csv_import_configs.empty? %>
        <p>This project requires at least one <%= link_to_if(current_user.admin?, 'Import Config', csv_import_configs_path) %> describing your CSV files before you can upload it.</p>
        <p><% if !current_user.admin? %>Please contact your project administrator to upload a config<% end %></p>
      <% else %>
        <%= form_for(:dataset, :url => {:action => 'create'}, :html => { :multipart => 'true', :class =>'form form-horizontal' }) do |f| %>
          <%= error_messages_for(@dataset) %>
          <div class="control-group">
            <%= f.label(:csv_file, "Select your CSV file:", :class => 'control-label') %>
            <div class="controls">
              <%= f.file_field(:csv_file) %>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
                <%= button_tag("Upload", :type => 'submit', :class => 'btn btn-primary') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="uploaded-datasets" class="row-fluid">
  <div class="row-fluid">
    <p class="lead">Uploaded Datasets</p>
  </div>
  <div class="row-fluid">
    <table class="table table-bordered table-condensed table-striped" summary="Dataset List">
      <tr class="header">
        <th>&nbsp;</th>
        <th>Filename</th>
        <th>Upload Date</th>
        <th>Uploader</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
      <% @datasets.each do |dataset| %>
        <%
           if dataset.imported?
            row_class = ''
           elsif dataset.problem?
            row_class = 'warning'
           elsif dataset.failed?
            row_class = 'error'
           end
        %>
          <tr class="<%= row_class%>">
            <td><%= link_to(raw("<i class=\"icon-download-alt\"></i>"),dataset.csv_file.url, :class => 'btn btn-small') %></td>
            <td><%= dataset.csv_file_file_name %></td>
            <td><%= dataset.created_at %></td>
            <td><%= dataset.user.email %></td>
            <td><%= link_to_current_status(dataset) %></td>
            <td>
              <% unless dataset.imported? %>
                <% if current_user.admin? || current_user == dataset.user %>
                  <%= link_to(raw("<i class=\"icon-remove icon-white\"></i>"), {:controller => 'upload', :action => 'delete', :id => dataset.id}, :class => 'btn btn-danger') %>
                  <% end %>
                <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>