<%= error_messages_for(@import_job) %>
<div class="control-group">
  <%= f.label(:quantitative_header_start_id, "First Quantitative Header") %>
  <div class="controls">
    <%= f.select(:quantitative_header_start_id, options_from_collection_for_select(@import_job.headers, 'id', 'column_name', :selected => @import_job.quantitative_header_start_id)) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:quantitative_header_end_id, "Last Quantitative Header") %>
  <div class="controls">
    <%= f.select(:quantitative_header_end_id, options_from_collection_for_select(@import_job.headers, 'id', 'column_name', :selected => @import_job.quantitative_header_end_id)) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:qualitative_header_start_id, "First Qualitative Header") %>
  <div class="controls">
    <%= f.select(:qualitative_header_start_id, options_from_collection_for_select(@import_job.headers, 'id', 'column_name', :selected => @import_job.qualitative_header_start_id)) %>
  </div>
</div>
<div class="control-group">
  <%= f.label(:qualitative_header_end_id, "Last Qualitative Header") %>
  <div class="controls">
    <%= f.select(:qualitative_header_end_id, options_from_collection_for_select(@import_job.headers, 'id', 'column_name', :selected => @import_job.qualitative_header_end_id)) %>
  </div>
</div>
