<% @page_title = "Import Job" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Import Job</p></div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Dataset</th>
        <td><%= link_to(@dataset.csv_file_file_name, csv_dataset_path(@dataset)) %></td>
      </tr>
      <tr>
        <th>Character Header Field bookends</th>
        <td>
          <ul>
            <li><%= @import_job.quantitative_header_start %></li>
            <li><%= @import_job.quantitative_header_end %></li>
            <li><%= @import_job.qualitative_header_start %></li>
            <li><%= @import_job.qualitative_header_end %></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td><span class="label"><%= @import_job.state %></span>
          <% case @import_job.state
          when 'parse_warnings' %>
              <%= render(:partial => "import_jobs/import_issues", :locals => { :import_job => @import_job}) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Job Control</th>
        <td><% case @import_job.state
                 when 'new' %>
              <%= link_to('Validate Headers', {:id => @import_job.id, :action => 'validate'}, {:class => 'btn btn-primary btn-small', :method => :post})%>
            <% when 'validated' %>
              <%= link_to('Parse Row Data', {:id => @import_job.id, :action => 'parse'}, {:class => 'btn btn-primary btn-small', :method => :post})%>
            <% when 'parsed' %>
              <%= link_to('Import Row Data', {:id => @import_job.id, :action => 'import'}, {:class => 'btn btn-primary btn-small', :method => :post})%>
          <% when 'parse_warnings' %>
              <%= link_to('Import xx/yy Rows', {:id => @import_job.id, :action => 'import'}, {:class => 'btn btn-primary btn-small', :method => :post})%>
              <%= link_to('Reset', {:id => @import_job.id, :action => 'reset_job'}, {:class => 'btn btn-warning btn-small', :method => :post})%>
            <% else %>
              <%= link_to('Reset', {:id => @import_job.id, :action => 'reset_job'}, {:class => 'btn btn-warning btn-small', :method => :post})%>
            <% end %>
         </td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @import_job.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @import_job.updated_at %></td>
      </tr>
    </table>
  </div>
  <div class="row"><%= link_to("<< Back to List", csv_dataset_import_jobs_path(@dataset), :class => 'btn') %></div>  
</div>
