<% @page_title = "Login" %>
<style type="text/css">
    .form-signin {
        max-width: 300px;
        padding: 9px 19px 29px;
        margin: 20px auto 20px;
        background-color: #eee;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin input[type="url"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 28px;
        background: url(http://openid.net/login-bg.gif) no-repeat;
        background-color: white;
        background-position: 2% 50%;
    }
    .form-separator {
      margin: 20px auto 20px;

    }
    .vertical-line {
      height: 100px;
      background-image: url(<%= asset_path 'black-dot.png' %>);
      background-repeat: repeat-y;
      background-position: center top;
    }
    .separator-or{
      text-align: center;
      vertical-align: middle;
    }

</style>

<div class="row-fluid">
  <div class="span8 offset2">
    <!-- left div -->
    <div class="span5">
      <%= form_tag(user_omniauth_authorize_path(:open_id), {:class => 'form-signin'}) do %>
        <h4 class="form-signin-heading">Sign in with <%= image_tag('openid-logo-clear.png', :size => '100x40', :alt => 'OpenID') %></h4>
        <%= url_field_tag(:openid_url, nil, {:class => 'input-block-level', :placeholder => 'OpenID Identifier'}) %>
        <%= button_tag("Sign in", {:class => 'btn btn-primary'}) %>
      <% end %>
      <%= link_to('Get an OpenID','http://openid.net/get-an-openid/') %>
    </div>
    <div class="span2">
      <div class="form-separator">
        <div class="vertical-line">&nbsp;</div>
        <div class="separator-or">or</div>
        <div class="vertical-line">&nbsp;</div>
      </div>
    </div>
    <!-- right div -->
    <div class="span5">
      <div class="form-signin">
        <h4 class="form-signin-heading">Sign in with <%= image_tag('Googlelogo.png', :size => '100x34', :alt => 'Google') %></h4>
        <%= link_to("Sign in", user_omniauth_authorize_path(:google_oauth2), {:class => 'btn btn-primary'}) %>
      </div>
      <%= link_to('Create a Google account','https://accounts.google.com/SignUp') %>
    </div>
  </div>
</div>
