<% @page_title = "Dataset" %>
<div class="row-fluid">
  <div class="row"><p class="lead">Dataset</p></div>
  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th>File</th>
        <td><%= link_to(@dataset.csv_file_file_name, @dataset.csv_file.url) %></td>
      </tr>
      <tr>
        <th>Project</th>
        <td><% if @dataset.project %><%= @dataset.project.name %><% end %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><%= @dataset.user.email %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= @dataset.created_at %></td>
      </tr>
      <tr>
        <th>Updated</th>
        <td><%= @dataset.updated_at %></td>
      </tr>
      <tr>
        <th>Import</th>
        <td>
          <%= link_to("Jobs (#{@dataset.import_jobs.size})", csv_dataset_import_jobs_path(@dataset), :class => 'btn btn-small') %>
          <%= link_to("Create", new_csv_dataset_import_job_path(@dataset), :class => 'btn btn-small btn-primary') %>
        </td>
      </tr>
    </table>
  </div>
  <div class="row"><%= link_to("<< Back", csv_datasets_path, :class => 'btn') %>
</div>
</div>
